//- index.pug
doctype html
html
  head
    style
      include style.css
  body.punchliner-app
    h1.punchliner-app__title Punchliner App
    - var customerNameTag = "<b>"+name+"</b>";
    - var customerEmailTag = "<b>("+email+")</b>";
    p.punchliner-app__text Thank you !{customerNameTag} !{customerEmailTag} for your subscription!
    p.punchliner-app__text You are now a PREMIUM member. Enjoy it!