label {
  display: inline-flex;
  flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  position: relative;
  width: 175px;
  height: 25px;
  border: var(--border-width) solid var(--color-primary);
  border-radius: var(--border-radius);
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
  font-size: var(--type-body-size);
}
input[type="text"]::focus,
input[type="password"]::focus {
  border: var(--border-width) solid var(--color-primary);
}

a {
  color: var(--color-primary);
}

table {
  border-collapse: collapse;
}

table.hover tr {
  cursor: pointer;
}

table.hover tr:hover td {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}
